body {
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: aqua;
    margin-bottom: 50px;
}

button {
    width: 125px;
    border-radius: 10px;
    border: none;
    border-bottom: solid 3px #136dad;
    transition: .5s ease;
    background-color: #1dbdcc;
}

button:hover {
    transform: translateY(2px);
    border-bottom-width: 1px;
}

li {
    list-style-type: none;
}