body {
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: aquamarine;
    margin-bottom: 50px;
}

button {
    width: 250px;
    border-radius: 25px;
    border: none;
    border-bottom: solid 5px #0059a0;
    transition: .5s ease;
}

button:hover {
    transform: translateY(3px);
    border-bottom-width: 2px;
}

li {
    list-style-type: none;
}
